<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="px-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3 py-3">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"><input formControlName="username"  class="form-control" type="text" placeholder="Username" required> </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">  <input formControlName="password"  class="form-control" [type]="type" placeholder="Password">                                    </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  </div>
  
