
    <div class="container mt-4">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white p-3">
                    <div class="panel-heading">
                        <h3 class=" font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body py-4">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                             <input formControlName="username"  class="form-control" type="text" placeholder="Username" required> 
                             <div *ngIf="submitted &&loginForm.get('userName')?.hasError('required')">
                                Username is required.
                              </div>
                            </div>
                            <div class="form-group pt-3">
                            <input formControlName="password"  class="form-control" [type]="type" placeholder="Password">                                    
                            <div *ngIf="submitted &&loginForm.get('password')?.hasError('required')">
                                Password is required.
                              </div>    
                        </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
 
  
